/* Cecilia Ceballos */
.partes {

    width: 100%;
    height: 800px;
    /* height: 1000px; */
    display: grid;
    grid-template-columns: auto auto;

    z-index: -100;
}

.parte label {
    float: left;

}

.parte input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.parte button {
    float: right;
}

#parte1 {
    margin: 50px 70px 50px;

}

#parte2 {
    margin: 50px 0px 50px 50px;
}

h2 {
    text-align: center;
}

.columna_color {

    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, white 0%, white 65%, var(--menu) 50%,
            var(--menu) 100%);
    justify-content: right;
    align-items: center;

}

@media screen and (max-width:940px) {
    .parte img {
        /* display: none; */
        width: 80%;
        margin-top: 10%;
    }

    .columna_color {
        background-image: none;
        background-color: rgba(79, 27, 68, 0.700);
        font-size: bold;
        font-weight: 200;
        align-items: center;
    }
}