$primary-text: #9A7111;
$accordion-button-focus-box-shadow: #94492c;
$accordion-button-bg: #F4D8CD;
$accordion-button-focus-border-color: #94492c;
$alert-border-scale:  -70%;

@import "../node_modules/bootstrap/scss/bootstrap";


